/data
/data/screenplays_pdf
/data/screenplays_txt
/data/txt_and_genres.csv
/data/testing_set.csv
/data/testing_targets.csv
/data/training_set.csv
/data/training_targets.csv
/better_data.csv
/final_data.csv
/genre_label.txt
/genre_labels.csv
/more_data.csv
/lemmed_data.csv
/names.txt
/topic_data.csv
/word_counts_by_lemma.json
/data/cleaned_data.csv
/data/inter.csv
/data/X_test.csv
/data/X_train.csv
/data_preprocessing_2.ipynb
/data_preprocessing_3.ipynb
/topic_modeling.ipynb
/__pycache__